.namecolor{
     color:#8845f4;
 }
body{
     font-family:sans-serif;
     color:#777777;
     height:26px;
 }
.halfwidth{
    float:left;
    width:50%;
    }
.imageright{
    width:50%;
    padding-left:25%;
    margin-top:22px ;
    border-radius:5px;
    }
.primary-btn{
    color:white;
    background-color:#8845f4;
    padding:13px 42px 13px 42px,;
    border-radius:20px;
    text-decoration:none;}
 h1{
     font-size:2.5em;}
 .container{
 padding-left:5% ;
 display:inline-block
 }
   .side-img{
       width:50%;
       padding-right:10%;
       margin-top:25px ;
       border-radius:10px;
       }
   container.experience{
       padding:30px;
       margin:30px;
       background-color:rgb(238, 252, 255);
       border-radius:20px;
       }
    .experience-item{
        padding:10px;
        border-left:1px solid rgba(137, 130, 247, .2);}
        
        